{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>Crypstation {% block title %}{% endblock %}</title>
</head>

<body>

{#    <!-- Main Content -->#}
  {% block content %} {% endblock %}

{##}
  <script src="{% static 'js/bootstrap4/jquery-3.3.1.slim.min.js' %} "></script>
  <script src="{% static 'js/bootstrap4/popper.min.js' %} "></script>
  <script src="{% static 'js/bootstrap4/bootstrap.min.js' %} "></script>
  <script src="{% static 'js/main.js' %} "></script>
</body>

</html>